/* Color Palette
#0F0B21 - smoky black
#0D0A54 - oxford blue
#006DA8 - honolulu blue
#278099 - lapis lazuli
#BFF2FF - diamond
#B0DFFA
*/

/* Global styles 
------------------------------------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*background: rgb(0,0,0);*/
    margin: 0;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a{
    color: #BFF2FF;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: skyblue;
    color: white;
    padding: 10px;
    display: inline-block;
}


/*
h2, p {
    margin: 0;
}*/

/* Header & Footer 
------------------------------------*/
header, .header, .footer {
    background: #006DA8;
    color: #0D0A54
}

/* header */
.profile-img {
    border-radius: 50%;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

header, .header {
    /*background: linear-gradient(rgb(0, 109, 168), rgb(31, 128, 153));*/
    padding-top: 50px;
    position: relative;    
}

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* footer */
.footer {
    text-align: center;
}

.contact-info a {
    background: skyblue;
    padding: 5px;
    display: inline-block;
    color: white;
}


/* Navigation
------------------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    /* navigation scrolls over about section */
    position: fixed;
    z-index: 10;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}


/* Work Experience
------------------------------------*/
.work {
    background: linear-gradient(rgb(31, 128, 153), rgb(170, 242, 249));
}

h3 ~ p {
    margin: 0;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}

/* Education
------------------------------------*/
.education {
    background: linear-gradient(rgba(170, 242, 249, 0.8), rgba(170, 242, 249, 0.2)), url(https://media.giphy.com/media/qAthTQR28Nnji/giphy.gif) no-repeat fixed;
    background-size: cover;
}

p + h3 {
    margin-top: 30px;
}



/* Media Queries
------------------------------------*/
@media (min-width: 900px){
    .col-narrow {
        width: 40%;
        float: left;
    }
    .col-wide {
        width: 60%;
        float: left;
        padding-left: 20px;
    }
}

@media (max-width: 899px){
    .header {
        text-align: center;
    }
    .profile-img {
        width: 200px;
    }
}