/*Global Attributes
--------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.image{
    border-radius: 50%;
}

.content{
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 50px 0;
}

.contentEx{
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 50px;
}

.education h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    /*float: left;
    display: inline-block; //use only with hor.2*/
}

.experience h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.horizontal-line2{
    background-color: white;
    height: 1px;
    width: 79%;
    margin-top: 35px;
    margin-bottom: 5px;
    float: left;
    display: inline-block;
}

.narrow{
    float: left;
    width: 25%;
}

.wide{
    text-align: center;
    float: left;
    width: 55%;
    min-height: 175px;
    margin-left: 20px;
    margin-top: -20px;
}

.narrow3{
    float: left;
    width: 65%;
    min-height: 42px;

}

.wide3{
    float: left;
    width: 35%;
    min-height: 42px;
    text-align: right;

}

.horizontal-line{
    background-color: white;
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.list{
    margin-top: 50px;
}

.list ul{
    padding-left: 60px;
    margin: 0;
}

.top-bottom-zero{
    margin-bottom: 0;
    margin-top: 0;
}


body {
    margin: 0;
}


h1, h2, h3, h4, p, li{
    color: white;
}

.top{
    margin-top: 0;
    margin-bottom: 0;
}
.indent {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}




/*Header and Footer
--------------------------------------*/
header,
footer{
    background: #2B2D42;
}

/*Header
--------------------------------------*/
header{

}

header h1{
    font-size: 60px;
}

header h3{
    margin: 0;
}

/*Footer
--------------------------------------*/
footer p{
    margin: 0 auto;
    max-width: 950px;
    text-align: center;
}

footer{
    padding-top: 20px;
}


/*Education
--------------------------------------*/
.education{
    background-color: darkorchid;
}


/*Experience
--------------------------------------*/
.experience{
    background-color: cyan;
}
/*Projects
--------------------------------------*/

/*Technical Skills
--------------------------------------*/

